<!DOCTYPE html>

 <head>
    <title>Restaurant-Site</title>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant">
    <meta name="keywords" content="Food">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- bootstrap css_cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 </head>

 <body>
    <!-- site_banner -->
    <div class="site_banner">
        <h3 class="site_text">Find the best restaurants and cafe near you</h3>
    </div>
    <!-- Input Fields -->
        <div class="row">
            <div class="input-group-append ">
                <button class="btn location_holderlabel" type="button"><i class="fas fa-location-arrow"></i></button>
            </div>
            <div class="col-sm-1 location_holder">
                <select id="select_box" class="form-control ">
                    <option value="Select City" hidden>Select City</option>
                    <option value="1">Delhi</option>
                    <option value="2">Kolkata</option>
                    <option value="3">Mumbai</option>
                    <option value="4">Bengaluru</option>
                    <option value="5">Pune</option>
                    <option value="6">Hyderabad</option>
                    <option value="7">Chennai</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-lg-4 search_holder">
                <input type="text" id="search_value" class="form-control" placeholder="Search Location" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" id = "search_btn" type="button">Search</button>
                </div>
            </div>
        </div>
        
        
    <!-- Dynamic Content -->
                <div class="dynamic_content container col-md-10"></div>
        
    <!-- Script tags -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
        <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
        <script src="/js/main.js"></script>

 </body>
</html>
