<!DOCTYPE html>
<html>

<head>
    <title>Restaurant-Place</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</head>

<body>
    <div id="restaurant_id" hidden><%=data%></div>
    <!-- section -->
    <div class="container">
        <div class="row mt-3 mb-3">
            <span class="badge badge-light badge_position label">Newly Opened</span>
            <span class="badge badge-light badge_position label">Recently Visited</span>
            <span class="badge badge-light badge_position label">High Ratings</span>
            <span class="badge badge-light badge_position label">Offers</span>
        </div>
    </div>

    <!--Cards -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 filters">
                <h4 class="mt-1">Filters</h4>
                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Low to High
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                High to Low
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Best Reviews
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Order online
                              </label>
                </div>

                <h4>Cash Method</h4>
                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Axis Bank
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Cub
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                Hdfc
                              </label>
                </div>

                <div class="input-group-text mb-3">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                        <label class="ml-2 form-check-label" for="gridCheck">
                                SBI
                              </label>
            </div>
            </div>
            <div class="col-sm-5 mt-3">
                <div class="card" id="content">
                </div>
                <!-- modal -->
                <button type="button" class="btn btn-primary btn_position" data-toggle="modal" data-target="#exampleModal">
                        Book Table
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             <h6>Your table has Booked.</h6> 
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>

            <div class="col-sm-4">
                <h4>Special</h4>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="images/images.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 1</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="./images/download.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 2</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="images/images.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 3</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="./images/download.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 4</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="images/images.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 5</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="./images/download.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dish 6</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <script src="/js/result.js"></script>

</body>

</html>