body, html {
    height: 100%;
    overflow-x: hidden;
  }
/* index.css */
  .bg {
    background-image: url("/images/homepage/home_banner.jpg");  
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.fixed_logo{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 200px;       
}

.customize_btn{
    color:#ffff !important;
    background-color:transparent !important;
    border: 2px solid #2989d3 !important;
    position: absolute;
    top: 73%;
    left: 46%;
    font-size: 25px !important;
}
.customize_btn:hover{
    font-size: 30px !important;
    background-color: #2989d3 !important;
}
/* search_site.css */
.site_banner{
    background-image: url("/images/site/site_banner.jpg");
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    
}

.create_btn{
    font-size: 1.25rem;
    position: absolute;
    top:65px;
    right: 20px;
    color:#ffff !important;
    border: 1px solid white;
    padding: 5px;
}
.create_btn:hover{
    opacity: 0.5;
}
.login_btn{
    font-size: 1.25rem;
    position: absolute;
    top:73px;
    right: 180px;
    color:#ffff !important;
    border: none !important;
    text-decoration: none !important;
}
.login_btn:hover{
    opacity: 0.5;
}

.site_text{
    color: #ffff !important;
    position: relative;
    top: 57%;
    left:38%;
    font-weight: bold;
}
.location_holderlabel{
    position: absolute !important;
    top: 370px;
    left:625px;
    color: #ffff !important;
}

.location_holder{
    position: absolute !important;
    top: 370px;
    left:650px;
    font-weight: bold;

}
.search_holder{
    position: absolute !important;
    top: 370px;
    left:800px;
}
.card_left{
   display: flex;
}
.badge_position{
    margin:5px;
}
.rating_position{
    position: absolute;
    top:5px;
    right:0;
}
.filters{
    background-color:#f3f3f3 !important;
}

/* api */  
  .text-color {
    color: white;
  }
  .content {
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
  }
  
  a {
    text-decoration: none !important;
  }
  
  .thumb_img {
    float: left;
    margin-right: 15px;
  }
  
  .horizontal-center-row {
    display: flex;
    justify-content: center;
  }
  
  .label {
    float: right;
    margin-right: 15px;
  }
  /* book table */

.btn_position{
  margin-top: 7px;
}

.label{
  color: red !important;
}